body {
    background-color: #F3E5D7;
    display: flex;
    justify-content: center;
}

.recipe-card{
    width: 736px;
    height:  max-content;
    background-color: white;
    margin: auto;
    border-radius: 24px;
    padding-bottom: 30px;
}

.container {
    margin: 0 40px 0 40px;
}

.food-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin-top: 32px;
    width: 656px;
    height: 300px;
}

.title-recipe {
    font-family: "Young Serif", serif;
    font-size: 40px;
}

.description-recipe{
    font-family: "Outfit", sans-serif;
    color: #5F564D;
}

.preparation-card {
    background-color: #FFF7FB;
    width: 656px;
    height: 172px;
    border-radius: 10px;
}

.preparation-title {
    color: #7A284E;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

.preparation-details {
    padding: 4px 20px 20px 20px;
}

span {
    color: #5F564D;
}

.preparation-card ul li {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 30px;
    list-style: none;
    position: relative;
}

.ingredients ul li {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 30px;
    list-style: none;
    position: relative;
}

.bullet-preparation li::before {
    content: '•';
    position: absolute;
    left: -30px;
    font-size: 30px;
    color: #7A284E;
  }

  .ingredients-title {
    font-family: "Young Serif", serif;
    font-size: 28px;
    font-weight: 400;
    color: #854632;
  }

  .bullet-ingredients li::before {
    content: '•';
    position: absolute;
    left: -30px;
    font-size: 30px;
    color: #854632;
  }

  .instruction-title {
    font-family: "Young Serif", serif;
    font-size: 28px;
    font-weight: 400;
    color: #854632;
}

.instructions ol li {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding-left: 10px;
}

.list-numbers {
    padding-left: 27px;
    color: #854632;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.list-numbers > li::marker {
    font-weight: bold;
  }

hr {
    background-color: #E3DDD7;
}

.Nutrition-title {
    font-family: "Young Serif", serif;
    font-size: 28px;
    font-weight: 400;
    color: #854632;
}

.details-table {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #5F564D;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .first-column {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #5F564D;
  }

.second-column {
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    color: #854632;
}
