body {
    background-color: #F3E5D7;
}

.recipe-card{
    width: 736px;
    height: 736px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 24px;
}

.food-image {
    margin-top: 39px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}